__pycache__/active_layer.cpython-39.pyc
__pycache__/c_layer.cpython-39.pyc
__pycache__/losses.cpython-39.pyc
__pycache__/layer.cpython-39.pyc
__pycache__/network.cpython-39.pyc
__pycache__/activation_functions.cpython-39.pyc
